{% extends 'base.html' %}
{% block title %}Nova senha{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen">
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title text-center text-2xl">Criar nova senha</h2>

            <form method="post">
                {% csrf_token %}
                {{ form.new_password1.errors }}
                {{ form.new_password2.errors }}

                <div class="form-control">
                    <label class="label"><span class="label-text">Nova senha</span></label>
                    {{ form.new_password1|add_class:"input input-bordered" }}
                </div>

                <div class="form-control mt-4">
                    <label class="label"><span class="label-text">Confirme a senha</span></label>
                    {{ form.new_password2|add_class:"input input-bordered" }}
                </div>

                <div class="card-actions justify-center mt-6">
                    <button type="submit" class="btn btn-primary w-full">Alterar senha</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}